doctype 5
html
  head
    meta(charset="utf-8")

    title= "Get early access to Maqaw!"
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")

    link(rel="stylesheet", href="/css/landing.css")

    link(href="http://fonts.googleapis.com/css?family=Buenard:400,700|Open+Sans:400,600", rel="stylesheet", type="text/css")

    script(type="text/javascript")
      function afterSubmit() {
        var form = document.getElementById("ss-form");
        form.innerHTML = "<span>We will send you instructions for setting up Maqaw!</span>";
      }

  body
    h1= 'Maqaw'
    h2= 'Improve conversation rates by 30-50% through direct video chat with customers'
    ul
      li= 'Build customer trust with face to face video chat'
      li= 'Chat windows overlayed right on your site'
      li= 'No plugins or extra software needed'
      li= 'Secure, encrypted communication'
    #video
      iframe(width="560", height="315", src="//www.youtube.com/embed/-FzI3bzXYYo?rel=0", frameborder="0", allowfullscreen)
    h3= 'Enter your email for early access!'
    #ss-form
      script(type="text/javascript")= 'var submitted = false;'
      iframe(name="hidden_iframe", id="hidden_iframe", style="display:none", onload="if(submitted){afterSubmit();}")
      form(action="https://docs.google.com/forms/d/1juG2Di-dd7OoD6YDmMH53POOxqwZYGdsDgOEE8msCZA/formResponse", method="post", target="hidden_iframe", onsubmit="submitted=true;")
        input(type="text", name="entry.436015981", value="", placeholder="Enter your email address", id="entry_436015981", dir="auto")
        input(type="hidden", name="draftResponse", value="[]")
        input(type="hidden", name="pageHistory", value="0")
        input(type="submit", name="submit", value="Submit")

    script(type="text/javascript")
      var maqawOptions = { key: "51f16cc4e81a103b3c000001", name: "Maqaw" };
    script(type="text/javascript", src="http://www.maqaw.com/cdn/maqaw.js")